.visibleDropdown {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.7s,
        visibility 0s;
}

.hiddenDropdown {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s,
        visibility 0s 0.3s;
}


.dropdown {
    background-color: var(--overflow-grey);
    position: absolute;
    width: 100%;
    top : calc(100% + calc(5 * var(--ui-unit)));
    left : 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: var(--regular-border-radius);
    max-height: calc(var(--large-item-height) * 4.8);
    overflow-y: scroll;
}

.closeIconContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right : 10%;
    width : 10%;
    height : 100%;
    cursor: pointer;
    border :none;
    background-color: transparent;
    padding: 0;
}

.closeIcon {
    color: var(--light-white);
    font-size: max(22px, calc(23 * var(--ui-unit)));
}

.chevronIconContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right : 0;
    width : 10%;
    height : 100%;
    cursor: pointer;
    border :none;
    background-color: transparent;
    padding: 0;
}

.chevronIcon {
    color: var(--light-white);
    font-size: max(24px, calc(25 * var(--ui-unit)));
    display: block;
    transition: transform 0.4s;
}

.chevronUp {
    transform: rotate(180deg);
    transition: transform 0.4s;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 1000;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}