/* Custom input color */
input::placeholder {
    color: var(--placeholder-color);
}

/* Main colors of the app */
:root {
    --placeholder-color : rgba(255, 255, 255, 0.31);
    --overflow-grey: rgb(42, 42, 42);

    --bright-white: rgba(250, 248, 252, 1);
    --light-white: rgba(246, 241, 254, 1);
    --medium-white: rgba(238, 231, 232, 1);
    --strong-white : rgba(228, 228, 228, 1);
    --dark-white: rgb(211, 211, 211);

    /* --bright-grey3: rgba(172, 172, 172, 1);
    --bright-grey2: rgba(149, 149, 149, 1); */
    --bright-grey: rgba(129, 129, 129, 1);
    --light-grey: rgba(113, 113, 113, 1);
    /* --light-grey2: rgb(99, 99, 99); */
    --medium-grey: rgb(82, 82, 82);
    --strong-grey: rgb(50, 50, 50);
    /* --strong-grey2: rgb(35, 35, 35); */
    --dark-grey: rgb(27, 27, 27);

    --strong-black: rgba(6, 0, 15, 1);


    --bright-red: rgba(234, 52, 52, 1);
    --strong-red: rgba(182, 11, 11, 1);

    --light-green: rgba(0, 173, 0, 1);
    --strong-green : rgba(0, 140, 0, 1);

    --blue-link: rgb(1, 1, 224);
}