/* ============================================================
   BASE VARIABLES - ALL SCREENS
   ============================================================ */

:root {
    --free-height: calc(100dvh - calc(var(--headers-height) + var(--tab-bar-height, 0px)));
    --page-bg-color: var(--medium-white);
}


/* ============================================================
   BASE UTILITY CLASSES - ALL SCREENS
   ============================================================ */

.pageContent {
    background-color: var(--page-bg-color);
    width: 100vw;
    max-width: 100vw;
    min-height: 100dvh;
    padding-top: calc(var(--headers-height) + var(--very-large-margin-top));
    padding-bottom: var(--page-padding-bottom);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallItem {
    width: var(--small-item-width);
    max-width: 100%;
    border-radius: var(--regular-border-radius);
    min-height: var(--small-item-height);
    margin-top: var(--regular-margin-top);
    padding: var(--small-vertical-padding) var(--regular-horizontal-padding);
}

.largeItem {
    width: var(--large-item-width);
    max-width: 100%;
    min-height: var(--large-item-height);
    border-radius: var(--regular-border-radius);
    padding: var(--large-vertical-padding) var(--regular-horizontal-padding);
    margin-top: var(--regular-margin-top);
}


/* Same value for mediumCardItem and largeCardItem so it's stays the same on portrait cellphones (not possible to be larger) */
/* Override below for landscape or larger screen */

.mediumCardItem,
.largeCardItem {
    width: 100%;
    max-width: 100%;
    min-height: var(--large-item-height);
    border-radius: var(--regular-border-radius);
    margin-top: var(--medium-margin-top);
    padding: var(--large-vertical-padding) var(--regular-horizontal-padding);
}

.itemMediumHeight {
    min-height: var(--medium-item-height);
    padding: var(--medium-vertical-padding) var(--regular-horizontal-padding);
}

.inputAndIconContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.inputWithIcon {
    width: 85%;
    max-width: 85%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.inputIconContainer {
    position: absolute;
    right: var(--regular-horizontal-padding);
    width: 15%;
    max-width: 15%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
}

.smallCard {
    width: var(--small-card-width);
    max-width: var(--small-card-width);
    padding: var(--small-card-padding);
    border-radius: var(--regular-border-radius);
    margin-top: var(--medium-margin-top);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-black);
}


/* Same value for mediumCard and largeCard so it's stays the same on portrait cellphones (not possible to be larger) */
/* Override below for landscape or larger screen */

.mediumCard,
.largeCard {
    padding: var(--medium-card-padding);
    width: var(--medium-card-width);
    max-width: 100%;
    border-radius: var(--regular-border-radius);
    margin-top: var(--large-margin-top);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-black);
}

.smallIcon {
    color: var(--bright-grey);
    width: calc(24 * var(--ui-unit));
    height: calc(24 * var(--ui-unit));
}

.line {
    background-color: var(--dark-white);
    min-height: 1px;
}

.noTransition {
    transition: none !important;
}




/* ============================================================
   BORDER & BACKGROUND STYLES - ALL SCREENS
   ============================================================ */

.brightGreyBorder {
    background-color: transparent;
    border: 1.5px solid var(--bright-grey);
}

.brightGreyBorder:focus-within {
    outline: 2px solid var(--dark-white);
    outline-offset: -2px;
}

.brightRedBg {
    background-color: var(--bright-red);
    border: none;
}

.darkGreyBg {
    background-color: var(--dark-grey);
    border: none;
}



/* ===============================================
   VARIABLES - ALL SCREENS
   =============================================== */

/* Main sizes of the components */
:root {
    --header-height: min(calc(80 * var(--ui-unit)), 20dvh);
    --horiz-menu-height: calc(45 * var(--ui-unit));

    --regular-border-radius: calc(10 * var(--ui-unit));
    --regular-horizontal-padding: calc(10 * var(--ui-unit));

    --small-vertical-padding: calc(8 * var(--ui-unit));
    --small-item-width: calc(280 * var(--ui-unit));
    --small-item-height: calc(40 * var(--ui-unit));


    --medium-vertical-padding: calc(11 * var(--ui-unit));
    --medium-item-height: calc(45 * var(--ui-unit));


    --large-vertical-padding: calc(13 * var(--ui-unit));
    --large-item-width: calc(380 * var(--ui-unit));
    --large-item-height: calc(52 * var(--ui-unit));


    --small-margin-top: calc(5 * var(--ui-unit));
    --regular-margin-top: calc(15 * var(--ui-unit));
    --medium-margin-top: calc(25 * var(--ui-unit));
    --large-margin-top: calc(30 * var(--ui-unit));

    /* page padding top : */
    --very-large-margin-top: calc(45 * var(--ui-unit));


    --card-horizontal-padding: calc(20 * var(--ui-unit));


    --small-card-padding: calc(30 * var(--ui-unit)) var(--card-horizontal-padding) calc(35 * var(--ui-unit));
    --small-card-width: calc(var(--small-item-width) + calc(2 * var(--card-horizontal-padding)));


    --medium-card-padding: calc(30 * var(--ui-unit)) var(--card-horizontal-padding) calc(40 * var(--ui-unit));
}


/* ==============================================
   RESPONSIVE VARIABLES AND CLASSES : LANDSCAPE
   ============================================== */

@media (orientation: landscape) {
    :root {
        --headers-height: calc(var(--header-height) + var(--horiz-menu-height, 0px));
        --page-padding-bottom: calc(50 * var(--ui-unit));
    }

}


/* ==============================================
   RESPONSIVE VARIABLES AND CLASSES : PORTRAIT
   ============================================== */

@media (orientation: portrait) {
    :root {
        --headers-height: var(--header-height);
        --tab-bar-height: calc(calc(80 * var(--ui-unit)) + env(safe-area-inset-bottom, 0px));
        --page-padding-bottom: calc(var(--tab-bar-height) + calc(50 * var(--ui-unit)));
    }
}


/* ===========================================================================
   RESPONSIVE VARIABLES AND CLASSES : ALL SCREENS EXCEPT PHONES IN PORTRAIT
   =========================================================================== */

@media not ((orientation: portrait) and (max-width: 580px)) {
    :root {
        --medium-card-width: calc(460 * var(--ui-unit));
    }

    .wideScreenLargeItemWidth {
        width: var(--large-item-width);
    }

    .largeCardGroup {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: var(--small-margin-top) 0 var(--regular-margin-top);
    }

    /* OVERRIDES */
    .largeCardItem {
        width: 48%;
        max-width: 48%;
        margin-top: var(--large-margin-top);
    }

    .largeCard {
        width: min(calc(900 * var(--ui-unit)), 92%);
        max-width: 100%;
    }
}


/* ===========================================================================
   RESPONSIVE VARIABLES AND CLASSES : PHONES IN PORTRAIT
   =========================================================================== */

@media (orientation: portrait) and (max-width: 579.88px) {
    :root {
        --medium-card-width: var(--large-item-width);
    }

    .largeCardGroup {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* OVERRIDES */
    .mediumCardItem {
        margin-top: var(--regular-margin-top);
    }
}






/* ============================================================
   MARGIN UTILITY CLASSES - ALL SCREENS
   ============================================================ */

.mt-none {
    margin-top: 0px;
}

.mt-small {
    margin-top: var(--small-margin-top);
}

.mt-regular {
    margin-top: var(--regular-margin-top);
}

.mt-medium {
    margin-top: var(--medium-margin-top);
}

.mt-large {
    margin-top: var(--large-margin-top);
}

.mt-very-large {
    margin-top: var(--very-large-margin-top);
}