/* HORIZONTAL MENU */


.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: var(--horiz-menu-height);
    max-height: 20dvh;
    background-color: var(--dark-grey);
    position: fixed;
    top: var(--header-height);
    overflow-x: scroll;
    column-gap: calc(15 * var(--ui-unit));
    padding: 0 calc(10 * var(--ui-unit));
    scrollbar-width: none;
    z-index: 8;
}

/* No display in portrait */
@media (orientation: portrait){
    .mainContainer{
        display: none;
    }
}

.underline {
    background-color: var(--strong-red);
    min-height: calc(6 * var(--ui-unit));
    position: absolute;
    bottom: 0;
    transition: left 0.4s,
        width 0.4s;
}


/* HORIZONTAL MENU ITEM */

.linkItem {
    background-color: transparent;
    border: none;
    height: 100%;
    white-space: nowrap;
    flex-shrink: 0;
    position: relative;
    border-bottom: calc(6 * var(--ui-unit)) solid transparent;
    padding-top: calc(6 * var(--ui-unit));
}

.unselectedLinkItem:hover {
    color: var(--bright-grey);
    border-bottom: calc(6 * var(--ui-unit)) solid color-mix(in srgb, var(--strong-red) 60%, transparent);
}